<h1>Batman vs Superman</h1>
<div style= width:'50%', position: relative, text-align: left;>
	<a href="<%= pages_batman_path %>"><%= image_tag('batman') %></a>
</div>
<div style= width:'50%', position: relative, text-align: right;>
	<a href="<%= pages_superman_path %>"><%= image_tag('superman') %></a>
</div>

<h2>Choose your Hero</h2>

<%= form_tag pages_save_vote_path, method:'post' do %> 

<div>
	<%= label_tag :heroe, 'Hero' %>
	<%= text_field_tag :heroe, nil, class:'form-control' %>
</div>

<div>
	<%= label_tag :email, 'Email' %>
	<%= text_field_tag :email, nil, class:'form-control' %>
</div>

<div>
	<%= submit_tag 'send', class:'btn btn-success' %>
</div>

	<% end %>

	<% if notice %>
		<%= notice %>
	<% elsif alert %>
		<%= alert %>
	<% end %>

<div>
	<a href="<%= pages_show_path %>">Show votes</a>
</div>